<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Pinteresting", root_path, class:"navbar-brand"%> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--       <% if user_signed_in? %>
        <button class="nav navbar-nav navbar-right"><%= link_to "Log Out" , destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn btn-sm" %></button>
      <% else %>
        <button class="nav navbar-nav navbar-right"><%= link_to "Log in", new_user_session_path, class: "btn btn-default navbar-btn btn-sm" %></button>
      <% end %> -->
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
<!--         <% if user_signed_in? %>
          <li><button type="button" class="btn btn-default navbar-btn btn-sm">Sign out</button></li>
        <% else %>
          <li><button type="button" class="btn btn-default navbar-btn btn-sm">Sign in</button></li>
        <% end %> -->

<!--         <% if user_signed_in? %>
          <li><% link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><button type="button" class="btn btn-default navbar-btn btn-sm">Sign in</button></li>
        <% end %> -->
        <%if user_signed_in? %>
          <li>
            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus-sign"> </span> New Pin 
            <% end %>
          </li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-primary navbar-btn btn-sm"%></li>
        <%else %>
          <li><%= button_to "Log in", new_user_session_path, method: "get", class:"btn btn-default navbar-btn btn-sm" %></li>
        <%end %>
      </ul>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
